
color=always
dedupe-peer-dependents=true
disallow-workspace-cycles=true
engine-strict=true
include-workspace-root=true

dedupe-peer-dependents=true
strict-peer-dependencies=false
save-exact=true

auto-install-peers=false
public-hoist-pattern[]=*siphash*
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*.prisma*
public-hoist-pattern[]=*@zenstackhq/runtime*
public-hoist-pattern[]=*zenstack*