@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nostalgic-yellow: #FFD766;
  --nostalgic-yellow-400: rgb(245, 212, 125);
  --nostalgic-yellow-300: rgb(243, 215, 145);
  --nostalgic-yellow-200: rgb(235, 220, 183);
  --nostalgic-yellow-100: rgb(231, 223, 203);
  --bubblegum: #DD6AB4;
  --bubblegum-500: rgb(206, 122, 177);
  --bubblegum-400: rgb(213, 141, 186);
  --bubblegum-300: rgb(216, 162, 195);
  --bubblegum-200: rgb(218, 182, 205);
  --bubblegum-100: rgb(221, 201, 214);
  --lavender: #8861B6;
  --lavender-500: rgb(122, 112, 181);
  --lavender-400: rgb(143, 135, 190);
  --lavender-300: rgb(159, 156, 198);
  --lavender-200: rgb(181, 177, 206);
  --lavender-100: rgb(201, 199, 215);
  --rich-black: #000000;
  --light-gray: #F0F0F0;
  --white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-synthesis: none;
  
  background: rgb(255,215,102);
  filter: contrast(170%) brightness(400%);
  background: linear-gradient(90deg, rgba(255,215,102,1) 0%, rgba(255,255,255,1) 50%, rgba(221,106,180,1) 100%);
}
